body {
  margin:0px;
  line-height: 1 !important;
  padding-top: 120px;
  background-color: #FAFAFA;
  /* font-size: 1.2rem !important; */
}

.navbar-light .navbar-nav .nav-link {
  color: #004085;
}

.navbar-bg {
  background-color: white !important;
  border-bottom: lightgray solid 1px;
  box-shadow: 0px 0.03rem 0.09rem rgba(0,0,0,0.18), 0px 0.16rem 0.36rem rgba(0,0,0,0.22);
  padding:.5rem .5rem;
}

.nav-item {
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 20px;
}

.navbar-toggler>.close {
  display:inline;
  color:black;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}

.alert-dismissible .close {
  padding-top: 0.2rem !important;
  font-size: 2rem;
}

/* Make the image fully responsive */
/*.carousel-inner img {
  width: 100%;
  height: 100%;
}*/

.carousel-inner img {
  width:640px;
  height:360px;
}

.fixedfooter {
  color: white!important;
  font-size: 12px;
  padding: 5px;
}

.event-item {
  padding: 20px;
  width: 100%;
  margin: 15px;
  background-color:#f1f8f1;
  /* background: linear-gradient(to bottom, #f1f8f1, #d9f2d9); */
  box-shadow: 2px 2px #b3e6b3;
}

.event-title {
  font-weight: bold;
  font-size: 1.5rem;
  color: darkolivegreen;
}

.event-detail {
  padding-top: 5px;
}

.col-form-label {
  font-weight: 600;
}

.label {
  font-weight: bold;
}

.form-control {
  box-shadow: none;
  border-color: #ddd;
}
.form-control:focus {
  border-color: #4aba70;
}
.login-form {
  width: 300px;
  margin: 0 auto;
  padding: 30px 0;
}

.login-form form {
  color: #434343;
  border-radius: 1px;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.login-form h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.login-form .avatar {
  color: #fff;
  margin: 0 auto 10px;
  text-align: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 9;
  background: #4aba70;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar i {
  font-size: 52px;
}
.login-form .form-group {
  margin-bottom: 20px;
}
.login-form .form-control,
.login-form .btn {
  min-height: 40px;
  border-radius: 2px;
  transition: all 0.5s;
}
.login-form .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.login-form .btn {
  border: none;
  line-height: normal;
}

.login-form .checkbox-inline {
  float: left;
}
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .forgot-link {
  float: right;
}
.login-form .small {
  font-size: 13px;
}
.card {
  box-shadow: 0px 0.03rem 0.09rem rgba(0,0,0,0.18), 0px 0.16rem 0.36rem rgba(0,0,0,0.22);
  /* padding-bottom: 10px !important; */
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}