{% extends "layout.html" %} {% block content %} {{ page_title('About Us') }}

<div class="card" >
  <!-- <img src="https://via.placeholder.com/150" class="card-img-top" style="width: auto;" alt="..."> -->
  <div class="card-body">
    
    <p class="card-text" style="font-size: 1.1rem;">
      
      <p style="font-weight: bold;">Our Mission:</p> 
      <p style="font-weight: bold;">Bank the Unbanked:  Connecting the Balkans to the Global Economy</p> 
      <p>
      Similar to majority of developing nations, Albania and neighboring Balkan countries lack access to traditional 
      financial services such as investments in stock market or ability to purchase digital dollar (Stablecoins) 
      which offer higher saving returns than legacy banks.
      </p>
      <p>
      LynX mission is to provides access to fast, cost-efficient, and user-friendly financial services to 
      Albanians and surrounding neighbors in the Balkans.
      </p>
      <p>
      LynX is a bridge from Traditional Finance to Decentralized Finance which provides efficiency and simplification. 
      Using the power of Blockchain technology, we will become the first regulated brokerage in the region to allow 
      every Albanian the possibility to save and invest in the global financial markets. In addition, LynX portal 
      will provide the easiest and less expensive method to transfer money to family and friends globally. 
      We are strong believers that a lot  more focus should be put on  teaching people that they can easily access 
      this whole new financial system as long as they have a basic smartphone and internet access. 
      </p>

      <p style="font-weight: bold;">The Founders:</p> 
      Our founders are old friends with a long history of working together. 
      Their background is in finance, technology and international law which 
      involves important careers with Nasdaq, UPS, DARPA 
      (Defense Advanced Research Project Agency, Old Republic, etc. 
      They were driven to create the business to use for themselves 
      and their families: to get higher returns on their savings for low risk. 
      A transparent, secure and profitable alternative to the conventional bank deposit.
      <p></p>
      <p style="font-weight: bold;">The Team:</p> 
      LynX has a talented, young and diverse team with a deep understanding of finance 
      and technology.

    </p>
  </div>
</div>

{% endblock %}
