{% extends "layout.html" %} {% block content %}

{{ page_title("Forgot Password") }}

<div >

  {% if linkSent == 'Y' %}
  <h3>Please check your email for a password reset link.</h3>
  {% else %}
  <form method="POST" role="form" action="forgot">
    {{ form.csrf }}

    {% if form.errors %}
    <div class="alert alert-warning" style="color: #DC143C; padding-bottom: 0;">
      <p>Please fix the errors and try again.</p>
      <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors
        %} {% for error in field_errors %}
        <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %} {% endfor %}
      </ul>
    </div>
    {% endif %}

    
    <div class="form-group">
      <label for="email" class="col-form-label">
              Please enter your email and click submit to reset your password.
      </label>
      <div>
        <input type="email" class="form-control" id="email" name="email" value="{{ form.email.data }}"
          placeholder="Enter your Email" required style="max-width: 350px;" autofocus />
      </div>
    </div>

    <div class="form-group">
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  {% endif %}
</div>

{% endblock %}